<div class="center-screen">
  <div>
  <div class="center-screen" style="padding-top: 100px;">
  <img [src]="image || defaultImage" alt="Avatar" style="width: 150px;"/>
  </div>
  <div class="center-screen" style="padding-top: 20px;">
  <button mat-raised-button color="primary" (click)="fileInput.click()">
  <span>Upload</span>
  <input #fileInput type="file" [accept]="getImageTypes()" (change)="uploadImage($event)" style="display:none;"/>
  </button>

  <button mat-raised-button color="primary" (click)="saveImage($event)">
    <span>Save</span>
  </button>
  </div>
  </div>
  <div style="margin: 10px;">
  <mat-tab-group>
  <mat-tab label="About">
  <mat-toolbar class="toolbar-with-labels">
  <mat-label class="left-label">Name</mat-label>
  <mat-label class="right-label">{{user.name}}</mat-label>
  </mat-toolbar>
  <mat-toolbar class="toolbar-with-labels">
  <mat-label class="left-label">Surname</mat-label>
  <mat-label class="right-label">{{user.surname}}</mat-label>
  </mat-toolbar>
  <mat-toolbar class="toolbar-with-labels">
  <mat-label class="left-label">UserName</mat-label>
  <mat-label class="right-label">{{user.userName}}</mat-label>
  </mat-toolbar>
  <mat-toolbar class="toolbar-with-labels">
  <mat-label class="left-label">Email</mat-label>
  <mat-label class="right-label">{{user.email}}</mat-label>
  </mat-toolbar>
  <mat-toolbar class="toolbar-with-labels">
  <mat-label class="left-label">Birthday</mat-label>
  <mat-label class="right-label">{{user.birthday | date:'yyyy-MM-dd'}}</mat-label>
  </mat-toolbar>
  </mat-tab>
  <mat-tab label="Edit">
      <form [formGroup]="formGroup" (ngSubmit)="editProfile()">
        <mat-toolbar>
          <mat-form-field>
            <input matInput type="text"  [(ngModel)]="user.name" placeholder="Name" formControlName="name" required>
            <mat-error>{{validationService.getErrorMessage(getControl("name"))}}</mat-error>
          </mat-form-field>
        </mat-toolbar>
        <p></p>
        <mat-toolbar>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="user.userName" placeholder="Username" formControlName="userName" required>
            <mat-error>{{validationService.getErrorMessage(getControl("userName"))}}</mat-error>
          </mat-form-field>
        </mat-toolbar>
        <p></p>
        <mat-toolbar>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="user.surname" placeholder="Surname" formControlName="surname" required>
            <mat-error>{{validationService.getErrorMessage(getControl("surname"))}}</mat-error>
          </mat-form-field>
        </mat-toolbar>
        <p></p>
        <mat-toolbar>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="user.email" placeholder="Email" formControlName="email" required>
            <mat-error>{{validationService.getErrorMessage(getControl("email"))}}</mat-error>
          </mat-form-field>
        </mat-toolbar>
        <p></p>
        <mat-toolbar>
          <mat-form-field>
            <input matInput type="date" [(ngModel)]="user.birthday" placeholder="yyyy/MM/dd" formControlName="birthDay"  required>
            <mat-error>{{validationService.getErrorMessage(getControl("birthDay"))}}</mat-error>
          </mat-form-field>
        </mat-toolbar>
        <p></p>
        <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Save</button>
      </form>
      <p></p>
      <button mat-raised-button color="warn" (click)="deleteProfile()">Delete Profile</button>
  </mat-tab>
  <mat-tab label="Password">
  <form [formGroup]="passwordFormGroup" (ngSubmit)="changePassword()">
    <mat-toolbar>
      <mat-form-field>
        <input matInput type="password" placeholder="Current password" formControlName="currentPassword" required>
        <mat-error>{{validationService.getErrorMessage(getPasswordControl("currentPassword"))}}</mat-error>
      </mat-form-field>
    </mat-toolbar>
    <p></p>
    <mat-toolbar>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
        <mat-error>{{validationService.getErrorMessage(getPasswordControl("newPassword"))}}</mat-error>
      </mat-form-field>
    </mat-toolbar>
    <p></p>
    <mat-toolbar>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword" required>
        <mat-error>{{validationService.getErrorMessage(getPasswordControl("confirmPassword"))}}</mat-error>
      </mat-form-field>
    </mat-toolbar>
    <p></p>
    <button mat-raised-button color="primary" [disabled]="!passwordFormGroup.valid">Change password</button>
    </form>
  </mat-tab>
  </mat-tab-group>
  </div>
  </div>
  