.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.card {
    width: 300px;
}

mat-card {
    text-align: center;
    background-color: darkgray;
}

a.no-underline {
    text-decoration: none;
}