<mat-card>
  <mat-card-content>
    <h2>Log In</h2>
    <form [formGroup]="formGroup" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email" required>

        <mat-error>{{validationService.getErrorMessage(getControl("email"))}}</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>

        <mat-error>{{validationService.getErrorMessage(getControl("password"))}}</mat-error>

      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Sign In</button>
    </form>

  </mat-card-content>
  <div class="container">
    <p>Don't have an account?
      <a href="registration" class="link-danger">Registration</a>
    </p>
  </div>
</mat-card>