<h2 mat-dialog-title class="center-text">Product Info</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Existing form fields -->
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name" [readonly]="true" required>
      <mat-error>{{validationService.getErrorMessage(getControl("name"))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Description" formControlName="description" [readonly]="true" required>
      <mat-error>{{validationService.getErrorMessage(getControl("description"))}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Price" formControlName="price" [readonly]="true" required>
      <mat-error>{{validationService.getErrorMessage(getControl("price"))}}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
<mat-dialog-actions>
  <app-product-comments [productId]="productId"></app-product-comments>
</mat-dialog-actions>
  