<mat-card>
  <mat-card-content>
    <h2>Sign up</h2>
    <form [formGroup]="formGroup" (ngSubmit)="registration()">

      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" required>

        <mat-error>{{validationService.getErrorMessage(getControl("name"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput type="text" placeholder="Surname" formControlName="surname" required>

        <mat-error>{{validationService.getErrorMessage(getControl("surname"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" formControlName="userName" required>

        <mat-error>{{validationService.getErrorMessage(getControl("userName"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email" required>

        <mat-error>{{validationService.getErrorMessage(getControl("email"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput type="date" placeholder="mm/dd/yyyy" formControlName="birthDay" required>

        <mat-error>{{validationService.getErrorMessage(getControl("birthDay"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
        <mat-option [value]="userRoles.Buyer">Buyer</mat-option>
        <mat-option [value]="userRoles.Seller">Seller</mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>

        <mat-error>{{validationService.getErrorMessage(getControl("password"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="confirmPassword" required>

        <mat-error>{{validationService.getErrorMessage(getControl("confirmPassword"))}}</mat-error>

      </mat-form-field>
      <p></p>
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Register</button>
    </form>

  </mat-card-content>

</mat-card>